-- Generated SQL Update
UPDATE plans SET monthly_price_cents = CASE
  WHEN stripe_price_id_monthly = 'price_1Spd6ICHfNdO9jxNRYj10lkA' THEN 12990
  WHEN stripe_price_id_monthly = 'price_1Spd7HCHfNdO9jxN3PKJJdyv' THEN 19990
  WHEN stripe_price_id_monthly = 'price_1Spd7xCHfNdO9jxNiUbb0PKG' THEN 49990
  ELSE monthly_price_cents END,
yearly_price_cents = CASE
  WHEN stripe_price_id_yearly = 'price_1SpdABCHfNdO9jxNzVu49NDP' THEN 124704
  WHEN stripe_price_id_yearly = 'price_1Spd9UCHfNdO9jxNMXy1MQs4' THEN 191904
  WHEN stripe_price_id_yearly = 'price_1Spd8ZCHfNdO9jxNIcxjZJBm' THEN 479904
  ELSE yearly_price_cents END;
